/* --------------------- HEADER E NAVEGAÇÃO ----------------- */
body,
html {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #181818;
  overflow-x: hidden;
}

.cabecalho {
  padding-top: 20px;
  background: #50037F;
  width: 100%;
  height: 90px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
}

.img_midia {
  width: 30px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 20px;

}

.caixa {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.linha_colorida {
  color: #EAF205;
}

.cabecalho b {
  margin-top: 8px;
  color: white;
  float: left;
  font-size: 30px;
  margin-left: 30px;
  /* box-shadow: inset 0 0 2em #EAF205, 0 0 2em #F20054;  */
  
}

.cabecalho nav {
  float: right;
  margin-right: 20px;
  
}

ul {
  display: inline block;
  list-style: none;
}

ul li a {
  color: white;
  font-size: 25px;
  transition: 0.3s;
  text-decoration: none;
  list-style: none;
  
}

ul li a:hover {
  font-size: 120%;
  color: #EAF205;
  text-transform: uppercase;
  font-weight: 500;
  
}

ul li {
  color: white;
  display: inline;
  margin-left: 30px;
  font-size: 1.5vw;
}


.container { 
  width: 80%;
  margin: auto;
}

.sejavoluntario{
  background-color: whitesmoke;
}

.sejavoluntario .container{
  width: 70%;
}
.titulo-container h1{
  color: black;
  font-size: 40px;
  padding-top: 50px;
  margin-top: 60px;
  margin-left: 40px;
}

.titulo-container p{
  padding-left: 40px;
  width: 82%;
  font-weight: bold;
}

.input-forav{
  margin-bottom: 10px;
  padding: 40px;
  background-image: linear-gradient(#001fff, #8406d6);
}

.input-v{
  width: 800px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 4px;
}

.button-enviar{
  width: 160px;
  height: 70px;
  color: #EAF205;
  background-color: #181818;
  cursor: pointer;
  font-size: 20px;
}

span {

color: white;
}

.rodape span {
  color: #EAF205;
  
}


h3 {
  color: white;
  font-weight: bold;
}




