body {
background-color: #161b22;
}

h2 {
    color: white;
    font-weight: bold;
    font-weight: bold;
}

h3 {
    color: white;
    font-weight: bold;
    font-weight: bold;
}

.rodape {
    width: 100%;
    height: 100px;
    margin-top: 90px;
    background-color: #50037F;
  }
  
  .rodape span {
    color: white;
    float: left;
    margin-top: 30px;
    margin-left: 40%;
  }
  
