body {
    font-family: 'Roboto', sans-serif;
    background: #181818;
    background-attachment: fixed;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-weight: 100;
    font-weight: bold;
    background-color: #50037F;
    border-radius: 100px 100px 100px 100px;
  }
  
  .row {
    background-image: url(https://caoterapeuta.org.br/wp-content/uploads/2020/11/angel-menor-1.png);
    background-size: cover;
    width: 440px;
    height: 480px;
    padding: 10px;
    margin: auto;
    border-top: 7px solid #50037F;
  }
  
  .form-p {
    padding: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 85%;
    border: none;
    border-bottom: solid 1px black;
    padding: 1em;
    font-size: 1em;
    color: black;
    margin: 15px 0 0;
    margin-left: 8px;
    outline: none;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-color: transparent;
    font-weight: bold
  }
  
  ::-webkit-input-placeholder {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  input[type="submit"] {
    font-size: 1em;
    background-color: #50037F;
    color: #fff;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    /*cursor: pointer;*/
    margin: 8em 0;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-align: center;
    letter-spacing: 1px;
  }
  
  input[type="submit"]:hover {
    background-color: #181818;
    -webkit-tranform: translateY(9px);
    -ms-tranform: translateY(9px);
    -o-tranform: translateY(9px);
    transform: translateY(9px);
  }
  
  .form-p {
    margin-top: 5px;
    font-size: 1.1em;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
  }
  
  .form-p a {
    color: black;
    text-decoration: none;
    -webkit-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
  }
  
  .form-p a:hover {
    color: #50037F;
    font-weight: bold;
  }

  .button_login {
    margin: 1vw;
    font-size: 1.3vw;
    height: 3vw;
    width: 10vw;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 150px;

  }
  
  