/* --------------------- HEADER ----------------- */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #181818;
  overflow-x: hidden;
}

.cabecalho {
  padding-top: 20px;
  background: #50037F;
  width: 100%;
  height: 90px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
}

.img_midia {
  width: 30px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 20px;

}

.caixa {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.linha_colorida {
  color: #EAF205;
}

.cabecalho b {
  margin-top: 8px;
  color: white;
  float: left;
  font-size: 30px;
  margin-left: 30px;
  /* box-shadow: inset 0 0 2em #EAF205, 0 0 2em #F20054;  */
  
}

.cabecalho nav {
  float: right;
  margin-right: 20px;
  
}

ul {
  display: inline block;
  list-style: none;
}

ul li a {
  color: white;
  font-size: 25px;
  transition: 0.3s;
  text-decoration: none;
  list-style: none;
  
}

ul li a:hover {
  font-size: 120%;
  color: #EAF205;
  text-transform: uppercase;
  font-weight: 500;
  
}

ul li {
  color: white;
  display: inline;
  margin-left: 30px;
  font-size: 1.5vw;
}


/* --------------------- IMAGEM ----------------- */

.imagem_fundo {
  background-size: cover;
  background-image: url("..//IMG/t\ Arcadia\ \(1\).png");
  text-align: center;
  margin-top: 5em;
  width: 90em;
  height: 50em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* --------------------- NEWSLETTER ----------------- */

.doação {
  background-color: #161b22;
  width: 100%;
  height: 130px;
  border-radius: 30px 30px 30px 30px;
}

.doar_geral {
  width: 1080%;
}

.doar_geral input {
  height: 25px;
  width: 300px;
  margin-left: 50px;
}

.doar_geral button {
  height: 31px;
  width: 70px;
  margin-top: 23px;
  background-color: #50037F;
  outline: none;
  margin-left: 5px;
}

.doar_geral h3 {
  color: white;
  font-size: 1.0em;
  padding: 35px;
}

/* --------------------- Missão,visao,valores ----------------- */

.servicos {
  width: 100%;
  height: 350px;
}

.produto {
  display: flex;
  height: auto;
  width: 50%;
  margin-left: 20%;
}

.box img {
  height: 200px;
  width: 200px;
  border-radius: 100px 100px 100px 100px;

}

.box {
  width: 30%;
  margin-right: 20%;
  margin-top: 50px;
  text-align: center;
  color: white;
}

/* --------------------- rodape ----------------- */

.rodape {
  width: 100%;
  height: 100px;
  margin-top: 150px;
  background-color: #50037F;
}

.rodape span {
  color: white;
  float: left;
  margin-top: 30px;
  margin-left: 40%;
}

h4 {
  color: white;
}


.imagem-final{
  width: 100%;
  height: 600px;
  background-color: white
}

.container_imagens { 
  width: 85%;
  margin: auto;
}

.titulo-imagem{
  font-size: 40px;
  color: black;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.img-home{
  width: 300px; 
  height: 200px;
  margin: 25px;

}


h1 {
  margin: 0;
  padding: 0;
  color: black;
}
