/* --------------------- HEADER E NAVEGAÇÃO/LISTAS ----------------- */
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F0CE;
    font-size: large;
}

.cabecalho {
    padding-top: 20px;
    background: #50037F;
    width: 100%;
    height: 90px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: #EAF205 50px 20px 50px;
}

.caixa {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.linha_colorida {
    color: #EAF205;
}

.cabecalho b {
    margin-top: 8px;
    color: white;
    float: left;
    font-size: 30px;
    margin-left: 30px;
}

.cabecalho nav {
    float: right;
    margin-right: 60px;

}

ul {
    display: inline block;
    list-style: none;
}

ul li a {
    color: white;
    font-size: 25px;
    transition: 0.3s;
    text-decoration: none;
    list-style: none;
}

ul li a:hover {
    font-size: 120%;
    color: #EAF205;
    text-transform: uppercase;
    font-weight: 500;
}

ul li {
    color: white;
    display: inline;
    margin-left: 30px;
    font-size: 1.5vw;
}

/* RODAPÉ */

.rodape {
    width: 100%;
    height: 100px;
    margin-top: 90px;
    background-color: #50037F;
}

.rodape span {
    color: white;
    float: left;
    margin-top: 30px;
    margin-left: 35%;
}


/* CAIXA DE FRASES */

.caixa_frase {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 6%;
    font-size: 1.9vw;
    color: black;
    border: 6px solid #e42148;
    border-radius: 65px 65px 65px 65px;
    text-align: center;
    padding: 25px;
}

.subtitulos {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.caixa_missão .subtitulos {
    margin-right: 15%;
}

.imgs_caixa {
    width: 50%;
    padding: 20px 30px;
    margin-bottom: 3px;
}