body{
    margin: 0;
    border: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/banner5.jpg);
    background-size: cover;
}

.container {
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
}
.header .container {
    min-height: 100px;
}
.header{
    width: 100%;
    height: 100px;
    z-index: 3;
    /* position: fixed; */
    background-color: rgba(216, 37, 37, 0);
}


.nav ul li{
    display: inline-block;
    margin-left: 20px;
    /* z-index: 3; */
    
}


.nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    
}

.nav a:hover {
    color: #951719;
}



.nav ul {
    margin: 0 auto;
    padding: 35px;
    
}

.nav{
    float: right;
}

.header object {
    height: 30px;
}

.titulo {
    float: left;
    color: white;
    margin: auto;
    padding: 22px;
    display: flex;
    align-items: center;
}

.titulo img {
    height: 50px;
}

.dark{
    width: 100%;
    height: 100%;
    /* background-color: rgba(31, 26, 26, 0.774); */
    background-color: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.forms {
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    min-height: 500px;
    background-color: #FFF; 
    padding: 13px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: troca 5s;
}

.form {
    width: 50%;
    height: auto;
}
form {
    /* margin-right: 50px; */
   width: 100%;
   height: auto;
   display: inline-block;
   
    
}

form h1 {
    width: 100%;
    margin: 0;
    color: #951719;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

form input {
    text-decoration: none;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    border: solid 1px rgba(185, 185, 185, 0.651);
    height: 35px;
    color: rgba(43, 43, 43, 0.753);
    background-color: #f4f4f4;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

::-webkit-input-placeholder {
    color: #9517199f;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #951719;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #951719;  
 }
 
 :-ms-input-placeholder {  
    color: #951719;  
 }

form input:hover {
    border-left: solid 2px #951719;
    transition: all .3s ease 0s;
}

form label {
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #2d2d2d;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    /* margin-bottom: 30px; */
}

form label i {
    margin-left: 5px;
}

form button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border:solid 1px rgba(185, 185, 185, 0.651);
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

form button:hover {
    opacity: 0.7;
    border:solid 1px #951719;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.btn-1 {
    color: #FFF;
    background-color: #951719;
    border:solid 1px #951719;
    
}

.btn-2 {
    color: #951719;
    background-color: rgba(0, 0, 0, 0) ;
}


.right {
    width: 40%;
    height: 100%;
    float: right;
}

.right img {
    width: 100%;
    margin-top: 20%;
    align-items: center;
}


