body,
html {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
}

h5 {
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-weight: bold;
  border-radius: 100px 100px 100px 100px;
}

h4 {
  color: #fff;
  font-weight: 100;
  font-weight: bold;
  border-radius: 100px 100px 100px 100px;
  padding-top: 28%;
  text-align: center;
}

h2 {
color: white;
font-weight: 100;
font-weight: bold;
}


.img_relatorio {
  width: 3vw;
}

/* CARD DO USUÁRIO */

.container p {
  font-size: 12px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  width: 18.70%;
  margin-top: 15%;
  margin-right: 30%;
  border: 3px solid #e42148;
  float: left;
}

.car:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.container {
  padding: 2px 16px;
}

.img_cachorro {
  width: 18vw;
  height: 18vw;
  border-radius: 100px 100px 100px 100px;
}

.img_voluntario {
  width: 18vw;
  height: 18vw;
  border-radius: 100px 100px 100px 100px;
}

/* RODAPÉ  */

.rodape {
  width: 100%;
  height: 100px;
  margin-top: 90px;
  background-color: white;
}

.rodape span {
  color: #e42148;
  float: left;
  margin-top: 30px;
  margin-left: 35%;
  font-weight: 100;
  font-weight: bold;

}
